.header_color {
  color: red;
  font-size: 60px;
  padding-left: 100px;
}
.left_header {
  float: right;
}

@media only screen and (max-width: 992px) {
  .header_color {
 
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .header_color {
    padding-left: 0px;
    padding-right: 0px;
    float: right;
  }
}
